* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Public Sans", sans-serif;
  color: #4b07aa;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #387085;
  background: radial-gradient(
    circle,
    rgba(56, 112, 133, 1) 16%,
    rgba(90, 39, 171, 1) 100%
  );
}

.quiz-container {
  width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #2b5dc9;
  padding: 40px 28px;
  border-radius: 30px;
  background-color: #ffffff;
  -webkit-box-shadow: -2px 6px 21px 18px rgba(0, 0, 0, 0.67);
  box-shadow: -2px 6px 21px 18px rgba(0, 0, 0, 0.67);
}

h1 {
  font-size: 28px;
  font-weight: 800;
  margin-bottom: 7px;
}

hr {
  height: 3px;
  background-color: #4b07aa;
  margin-bottom: 13px;
  width: 95%;
}

.question {
  font-size: 20px;
  margin-bottom: 21px;
}

ul {
  width: 100%;
}

li {
  font-size: 16px;
  list-style-type: none;
  border: 2px solid #4b07aa;
  padding: 14px 11px;
  text-align: left;
  cursor: pointer;
  margin-bottom: 14px;
  border-radius: 14px;
  font-weight: 700;
  transition: 150ms;
}

li:hover {
  scale: 0.97;
}

button {
  background-color: #4b07aa;
  color: aliceblue;
  margin-inline: auto;
  padding: 11px 35px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  border-radius: 11px;
  margin-bottom: 7px;
  margin-top: 21px;
  transition: 150ms;
}

button:hover {
  scale: 1.03;
}

p {
  font-weight: 700;
  font-size: 14px;
  margin-top: 10px;
}

.correct {
  background-color: rgba(17, 192, 1, 0.285);
}

.wrong {
  background-color: rgba(231, 4, 4, 0.175);
}

@media (max-width: 480px) {
  .quiz-container {
    width: 80%;
    padding: 20px;
    margin-inline: auto;
  }

  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 16px;
  }
  .result {
    font-size: 24px;
  }
  li {
    font-size: 16px;
  }
  button {
    width: 95%;
  }
}
